{% extends "base.html" %}

{% load static %}
{% block content%}
{% include "navbar.html" %} 
<html>
    <body>
    <div class="container">
            {% for x in product %}
                    <div class="card shadow-sm" id="specific-product">
                        <img src="{% static x.Image %}" class="img-thumbnail"/>
                        <div class="card-body" id="specific-card-body" >
                            <p class="card-text"><font style="vertical-align: inherit; color: black;"><h4>{{x.Name}}</h4></font></p>
                            <p class="card-text"><font style="vertical-align: inherit;">$ {{x.Price}}</font></p>
                            <p class="card-text"><font style="vertical-align: inherit;">Model: {{x.Model}}</font></p>
                            <p class="card-text"><font style="vertical-align: inherit;">Category: {{x.Category}}</font></p>
                            <p class="card-text"><font style="vertical-align: inherit;"><b>Specifications: </b></br>{{x.Specifications | linebreaksbr}}</font></p>
                        </div>
                </div>
            {% endfor %}
    </div>
    </body>
</html>
{% endblock %}