{% extends "base.html" %}

{% load static %}
{% block content %}
{% include "navbar.html" %} 
<html>
    <body>
        <br>
        
        <div class="filter">
            FILTER OPTIONS: 
                <button class="btn btn-secondary btn-lg dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Sort Products
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" style="margin-right:15px">
                    <form method="POST" action="./">
                        {% csrf_token %}
                        <input type="hidden" id="sort" name="sort">
                        <button class="dropdown-item" onclick="document.getElementById('sort').value = 'ASC'" type="submit">Price Low to High</button>
                        <button class="dropdown-item" onclick="document.getElementById('sort').value = 'DESC'" type="submit">Price High to Low</button>
                        <button class="dropdown-item" onclick="document.getElementById('sort').value = 'RAT'" type="submit">Rating</button>
                    </form>
                </div>
        </div>


        <div class="container-fluid">
            <div class="row">
                {% for x in products %}
                    <div class="col-sm-4">
                        <div class="card-shadow-sm">
                            <a href="product/{{x.id}}">
                                <img src="{% static x.Image %}" class="img-thumbnail"/>
                                <div class="card-body" >
                                    <p class="card-text"><font style="vertical-align: inherit;"><b>{{x.Name}}</b></font></p>
                                    <p class="card-text"><font style="vertical-align: inherit;">${{x.Price}}</font></p>
                                    <p class="card-text"><font style="vertical-align: inherit;">Rating: {{x.Rating}}/5</font></p>
                                </div>
                            </a>
                            <form method="GET" action="/cart/add/{{x.id}}">
                                <div class="add-to-cart" >
                                    <input id="cart_{{x.id}}" type="submit" value="Add to cart" style="background-color: rgb(194, 216, 242); margin-bottom: 17px; padding: 15px; border-radius: 20px;">
                                </div>
                            </form>
                            {% for y in cart %}
                                {% if y.product.Name == x.Name %}
                                <script>document.getElementById("cart_"+{{x.id}}).style.display="none"</script>
                                <div style="display:flex" id="quantity">
                                    <a href="/cart/delete/{{x.id}}" class="btn btn-danger" id="minus">-</a>
                                    <button class="btn btn-light" id="current" >{{y.quantity}}</button>
                                    <a href="/cart/add/{{x.id}}" class="btn btn-success" id="plus">+</a>
                                </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </body>
</html>
{% endblock %}