{% extends "base.html" %}
{% include "templates/authenticate/navbar.html/" %}

{% load static %}
{% block content %}

{% if messages %}
  {% for message in messages %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
      {{ message }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  {% endfor %}
{% endif %}

<div class="login-form">
<h1 id="login-head">Login</h1>
<form action="" method="POST">
{% csrf_token %}
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Username</label>
    <input type="text" class="form-control" name="username" aria-describedby="emailHelp">
  </div>
  <div class="mb-3" id="password">
    <label for="exampleInputPassword1" class="form-label">Password</label>
    <input type="password" class="form-control" name="password">
  </div>
  <input type="submit" value="Sign-in" class="btn btn-primary" id="sign-in-button"></input>
</form>
<p id="register-p">Don't have an account?</p>
<button type="button" class="btn btn-primary" id="create-acc"><a href="{% url 'register' %}">Register</a></button>
</div>
{% endblock %}