{% extends "base.html" %}
{% include "templates/authenticate/navbar.html/" %}

{% load static %}
{% block content %}

{% if form.errors %}
  <p><strong>ERROR:<strong/> There was an error with your form...</p>
{% endif %}

<h1 style="color: white;">Register</h1>
<form action="{% url 'register' %}" method="POST">
  {% csrf_token %}
  {{ form.as_p }}
  <br/>
  <input type="submit" value="Submit" class="btn btn-primary"></input>
</form>
<br/>
<p>Already have an account?</p>
<button type="button" class="btn btn-primary"><a href="{% url 'login' %}">Login</a></button>

{% endblock %}