{% load static %}
<header>
  <div class="nav-container">
    <a href="#"><img src="{% static 'css-imgs/logo.png' %}" class="logo-img"></a>

    <nav>
      <ul>
        <li id="search-bar"><form class="form-inline my-2 my-lg-0" method="POST" action="/products/search">
          {% csrf_token %}
          <input class="form-control-lg" name="key" type="search" placeholder="Search" aria-label="Search">
          <button type="submit" class="search-btn"><img src="{% static 'css-imgs/search-icon.png' %}" class="search-icon"></button>
        </form></li>
        <li><a class="nav-link" href="/products"><h6>Home</h6><span class="sr-only">(current)</span></a></li>
        <li><a href="{% url 'login' %}">LOGIN</a></li>
        <li><a class="btn btn-outline-secondary" href="/cart"><img src="{% static 'css-imgs/cart_icon.png' %}" class="cart-icon"><b>({{ item_count }})</b></a></li>
        
      </ul>
    </nav>
  </div>
</header>