{% extends "base.html" %}

{% load static %}
{% block content %}
{% include "navbar.html" %} 
<html>
    <body>
        <br>
        <div class="container-fluid" id="cart-container">
            <h1><u><b><i>Cart Items</i></b></u></h1>
            {% if products.count != 0 %}
                {% for x in products %}
                <div class="cart-cards">
                    <a href="/products/product/{{x.product.PID}}" id="cart-item">
                        <img src="{% static x.product.Image %}" id="cart-item-img"/>
                    </a>
                            <a href="/cart/delete/{{x.product.id}}" class="btn btn-danger" id="cart-minus">-</a>
                            <button class="btn btn-light" id="cart-quantity">{{x.quantity}}</button>
                            <a href="/cart/add/{{x.product.id}}" class="btn btn-success" id="cart-plus">+</a>
                        <p class="card-text" id="cart-card-text"><font style="vertical-align: inherit;"><b>{{x.product.Name}}</b><br> per unit: ${{x.product.Price}}</font></p>
                </div>
                {% endfor %}
                <h1 id="cart-total"> Cart Total: ${{ total_price }}</h1>
                <form class="form-inline my-2 my-lg-0" method="POST" action="/thankyou" %}">
                    {% csrf_token %}
                    <button class="btn btn-primary btn-lg" type="submit">Checkout</button>
                  </form>

            {% else %}
                <script>document.querySelector('.container').setAttribute(
                        "style","display: flex;justify-content: center;align-items: center;height: 100vh;text-align: center;"
                    )</script>
                <h1>Your cart is empty, add something now!</h1>
            {% endif %}
        </div>
    </body>
    </html>
    {% endblock %}
    
