{% extends "base.html" %}

{% load static %}
{% block content %}
{% include "navbar.html" %} 
<html>
    <body>
        <br>
        <div class="container">
            {% if products.count != 0 %}
                {% for x in products %}
                <div class="row card shadow-sm" style="margin-bottom:10px; padding:10px">
                    <a href="products/product/{{x.product.PID}}" style="display:flex">
                        <img src="{% static x.product.Image %}" style="width:110px; height:70px; display:inline" class="img-thumbnail"/>
                        &nbsp;&nbsp;&nbsp;<p class="card-text"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">{{x.product.Name}} ${{x.product.Price}}</font></font></p>
                    </a>
                    <a href="/cart/delete/{{x.product.id}}" class="btn btn-primary" style="width:33%">-</a>
                    <button class="btn btn-success"style="width:34%">{{x.quantity}}</button>
                    <a href="/cart/add/{{x.product.id}}" class="btn btn-primary"style="width:33%">+</a>
                </div>
                {% endfor %}
                <h1> Cart Total: {{ total_price }}</h1>

            {% else %}
                <script>document.querySelector('.container').setAttribute(
                        "style","display: flex;justify-content: center;align-items: center;height: 100vh;text-align: center;"
                    )</script>
                <h1>Your cart is empty, add something now!</h1>
            {% endif %}
        </div>
    </body>
</html>
{% endblock %}
