{% extends "base.html" %}

{% load static %}
{% block content %}
{% include "navbar.html" %} 
<html>
    <body>
        <br>
        <div class="container-fluid" id="cart-container">
            {% if products.count != 0 %}
                {% for x in products %}
                <div class="cart-cards">
                    <a href="products/product/{{x.product.PID}}" style="display:flex" id="cart-item">
                        <img src="{% static x.product.Image %}" id="cart-item-img"/>
                        &nbsp;&nbsp;&nbsp;<p class="card-text"><font style="vertical-align: inherit;">{{x.product.Name}} ${{x.product.Price}}</font></p>
                    </a>
                    <a href="/cart/delete/{{x.product.id}}" class="btn btn-primary">-</a>
                    <button class="btn btn-success">{{x.quantity}}</button>
                    <a href="/cart/add/{{x.product.id}}" class="btn btn-primary">+</a>
                </div>
                {% endfor %}
                <h1> Cart Total: {{ total_price }}</h1>

            {% else %}
                <script>document.querySelector('.container').setAttribute(
                        "style","display: flex;justify-content: center;align-items: center;height: 100vh;text-align: center;"
                    )</script>
                <h1>Your cart is empty, add something now!</h1>
            {% endif %}
        </div>
    </body>
    </html>
    {% endblock %}
    
